@view-transition {
  navigation: auto;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-space-size-adjust: none;
    -webkit-text-space-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  h1 {
    font-size: 3rem;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
}

@layer layout {
}

@layer components {
  .mainpage {
    display: grid;
    grid-template-areas:
      "slideshow"
      "phone-text-space";
    grid-template-rows: 33vh auto;
    grid-template-columns: 100vw;
  }

  .slideshow {
    grid-area: slideshow;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .slides img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
  }

  .slides img:first-child {
    opacity: 1;
    z-index: 1;
  }

  .slides img:nth-child(2) {
    opacity: 1;
    z-index: 0;
  }

  .slideshow .navigation-button {
    position: absolute;
    bottom: 2vh;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;

    /*prevents people from realizing the nav dots are just text*/
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .dot {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  .pc-text-space {
    grid-area: pc-text-space;
    display: none;
  }

  .phone-text-space {
    grid-area: phone-text-space;
    display: block;
  }

  @media (width > 760px) {
    .mainpage {
      grid-template-areas: "slideshow  pc-text-space";
      grid-template-columns: 66vw auto;
      grid-template-rows: 100vh;
    }

    .pc-text-space {
      display: block;
    }

    .phone-text-space {
      display: none;
    }
  }
}
